<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img
              width="100"
              height="100"
              src="../../../assets/logo.png"
              alt=""
            />
          </div>

          <h1 class="text-center">Register Here</h1>
          <form (ngSubmit)="formSubmit()">
            <!-- Username -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                required
                [(ngModel)]="user.userName"
                name="userName"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <!-- userpassword -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User password</mat-label>
              <input
                type="password"
                required
                [(ngModel)]="user.password"
                name="password"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <!-- First name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                required
                [(ngModel)]="user.firstName"
                name="firstName"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <!-- last name -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                required
                [(ngModel)]="user.lastName"
                name="lastName"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email Address</mat-label>
              <input
                required
                [(ngModel)]="user.email"
                name="email"
                type="email"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <!-- Phone Number -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input
                required
                [(ngModel)]="user.phone"
                name="phone"
                type="number"
                matInput
                placeholder="Enter Here"
              />
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Register
              </button>
              <button
                class="ml10"
                type="reset"
               
                mat-raised-button
                color="accent"
              >
                Reset
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
